<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Клиент взял деньги</h1>
    <p th:text="'Касса №: ' + ${transfer.getRecipientCashboxId}" />
    <p th:text="'Сумма перевода: ' + ${transfer.money}" />
    <p th:text="'Коммиссия перевода: ' + ${transfer.commission}" />
    <p th:text="'Полный перевод с учетом коммиссии составил: ' + ${transfer.totalMoney}" />
    <p th:text="'Статус перевода: ' + ${transfer.status}" />
    <a th:href="@{/}" th:text="'На главную страницу '"></a>
</body>
</html>